* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  height: 235vh;
  border: 3px solid black;
  text-align: center;
  background-color: #150050;
}

#row1{
  height: 7.5vh;
}

#row2{
  height: 27.5vh;
}

#row3{
  height: 90vh;
}

.logoSearch {
  margin-top: 1vh;
}

.logoSearch h1{
  font-size: 3.5vh;
  margin-left: 20%;
  color: #00FFD1;
}

.infoPopup {
  margin-top: 1vh;
}

.infoPopup button {
  margin-left: 7vh;
  padding: 0.5vh;
  color: #00FFD1;
  background-color: #8d8c8a;
  border: 3px solid #3F0071;
  border-radius: 15%;
}

.infoPopup h1 {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.infoPopup h2 {
  font-size: 3vh;
  text-align: left;
  font-weight: bold;
}

.infoPopup h3 {
  display: inline;
  font-size: 2vh;
  text-align: left;
}

.locationScore {
  height: 100%;
  padding: 1vh;
}

.safeScore {
  height: 100%;
  padding: 1vh;
}

.generalColor {
  color: white;
}

.circle1{
  height: 20vh;
  width: 22.5vh;
  background-color: #8d8c8a;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #3F0071;
}

.circle1 h1{
  width: 50%;
  height: 50%;
  margin: 0;
  position: relative;
  top: 25%;
  left: 27.5%;
  transform: translateY(-50%, -50%);
  text-align: center;
  font-size: 7.5vh;
}

.searchBar{
  padding-top: 1vh;
  padding-bottom: 5vh;
}

.input-group{
  height: 7vh;
}

.input-group .form-control.rounded{
  font-size: 2vh;
}

.input-group .btn.btn-outline-primary{
  width: 12vh;
  font-size: 2.25vh;
}

.news{
  height: 65vh;
  padding: 2vh;
  padding-top: 3vh;
  
}

.news h1 {
  padding-bottom: 1vh;
  height: 8vh;
  color: white;
}

.news h2 {
  color: white;
}

.error1 {
  color: #00FFD1;
  margin-top: 35%;
}

.error2 {
  color: #00FFD1;
  margin-top: 25%;
}

.thingsToDo{
  height: 65vh;
  padding: 2vh;
  padding-top: 3vh;
}

.thingsToDo h1 {
  padding-bottom: 1vh;
  height: 8vh;
  color: white;
}

.thingsToDo h2 {
  color: white;
}

.thingsToDo button {
  margin-top: 3vh;
  padding: 2vh;
  color: white;
  background-color: #3F0071;
  border: 3px solid #00FFD1;
  border-radius: 25%;
}

.square {
  border: 5px solid #3F0071;;
  border-radius: 30px;
  padding: 2vh;
  text-align: center;
  height: 75vh;
  width: 100%;
  color: white;
  background-color: #8d8c8a;
}

.square h1{
  margin-top: 2vh;
  font-size: 3vh;
}

.square h2{
  margin-top: -2vh;
  font-size: 2vh;
}

.news .square h2{
  margin-top: -4vh;
  font-size: 2vh;
}

.thingsToDo .square h2{
  margin-top: -3vh;
  font-size: 2vh;
}

.square2 {
  border: 5px solid #3F0071;;
  border-radius: 30px;
  padding: 2vh;
  text-align: center;
  height: 95vh;
  width: 100%;
  color: white;
  background-color: #8d8c8a;
}

.square2 h1{
  font-size: 3vh;
  margin-top: 2vh;
}

.square2 h2{
  margin-top: -2vh;
  font-size: 2vh;
}

.square3 h1{
  margin-bottom: -0.5vh;
}

#weatherRow1 h1{
  font-size: 4.5vh;
}
#weatherRow2 h1{
  font-size: 4.5vh;
}

#weather5Day {
  border: 3px solid #3F0071;
  border-radius: 15px;
  width: 17.5%;
  height: 28vh;
}

#weatherRow1 {
  height: 30vh;
  width: 100%;
}

#centerer {
  margin-left: 7.5%;
  border: 3px solid #3F0071;
  border-radius: 15px;
  width: 17.5%;
  height: 28vh;
}

#weatherRow2 {
  height: 30vh;
  width: 100%;
}

.block {
  border: 2px solid #3F0071;
  border-radius: 15px;
}

.block2 {
  border: 2px solid #3F0071;
  border-radius: 15px;
  height: 7vh;
}

.block2 h1 {
  font-size: 2vh;
  color: #3F0071;
}

.theTitle{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.theTitle h1{
  font-size: 10vh;
  text-align: center;
  padding: 5vh;
  color: #00FFD1;
}

.beforeTitle {
  border: 3px solid #3F0071;
  border-radius: 20%;
}

.beforeTitle h1{
  font-size: 4vh;
}

.circle2{
  position: relative;
  height: 30vh;
  width: 35vh;
  background-color: #FB5F76;
  border-radius: 25%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../Weather Pics/Weather.gif');
}

.circle2 .text {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25%;
  width: 100%;
  height: 100%;
  border: 5px solid #3F0071;;
  padding-top: 3vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.circle2 h1{
  padding-top: 1.5vh;
  text-align: center;
  font-size: 12vh;
}

.circle2 h2{
  font-size: 5vh;
}

.circle2:hover .popup1{
  visibility: visible;
}

.popup1{
  visibility: hidden;
  position: fixed;
  z-index: 2;
  border-radius: 30px;
  width: 95%;
  right: 2.5%;
  top: 2%;
  height: 60vh;
  border: 3px solid #3F0071;
  background-color: rgba(255, 255, 255, 0.9);
}

/*Media*/
@media (max-width: 450px){
  .theTitle h1{
    font-size: 10vh;
  }
  .news{
    padding-top: 5vh;
  }
  .theTitle{
    padding-top: 40vh;
  }
  .beforeTitle{
    display: none;
  }
}